body {
    background: #212529;
    color: silver;
}

canvas {
    display: block;
    background: #777;
}

.modal {
    color: black;
}

#slider,
#cvs {
    display: inline-block;
}

.ui-slider {
    background-color: forestgreen;
    height: 1000px;
    width: 8px;
    border-color: transparent;
}

#slider .ui-slider-range {
    background-color: greenyellow;
    border-color: transparent;
}

#slider .ui-slider-handle {
    background-color: white;
    border-color: dimgray;
    height: 5px;
    width: 30px;
    margin: 0;
}

#note-add-option {
    background-color: #f8f9fa;
    border-radius: 10px;
}