body {
    background: rgb(37, 37, 37);
    color: silver;
}

canvas{
    display: block;
    background: #777;
}

.editarea,.textarea{
    height: 94vh;
}

#editor{
    height: 85vh;
    width: 100%;
    background: #FFF;
}

.darkchange{
    fill:currentColor;
}



.modal{
    color:black;
}

u{    
    border-bottom: 1px dotted #000;
    text-decoration: none;
}

#slider,#cvs{
    display: inline-block;/* */
}